createdAt: "2019-02-25T22:15:51.088Z"
updatedAt: "2019-02-27T02:28:32.368Z"
type: "MARKDOWN_NOTE"
folder: "55302be51b33611521e0"
title: "Week 2/25"
tags: []
content: '''
  ## Week 2/25
  - [ ] Complete
  
  ### Initial Task
  > Convert chunk dict into columns storing vector2
  It has become messy dealing with the conversion of vector2 and 3
  
  #### Sub Tasks
  - [ ] Chunk has too many public props, isolate and hide.
  - [ ] Chunk/Chunkcolumn pooling
  
  ### Challenges
  - Reading forums on prefabs vs scratch building in script made me realize i should be pooling chunks instead of instantiating new ones and destroying, will do this week or next. Possibly make a chunkColumn pool, would also clean up if chunk columns were monobehaviours instead of structs because could specify coordinate in name. The chunkcolumns would then instantiate a number of chunks as children which would be constant size since world size wont change, base it on the chunkHeight const val.
  
  ### Log
  
  - Tuesday
    - Created a chunk column class to handle columns since they should all be instantiated seperately, chunks cannot be combined because time it takes to regenerate mesh.
    - Move the VoxelWorld chunk handling into chunk column
    - Creating a PrefabPool behaviour
  - Wednesday
    - N
  - Thursday
    - N
  - Friday
    - N
  
  ##### Notes For Next Week
'''
linesHighlighted: []
isStarred: false
isTrashed: false
